{
  "pkgcloud" : {
    "availability_zone" : "melbourne-np",
    "key_name" : "<SSH key on NeCTAR>",
    "user_data" : "IyEvYmluL3NoDQpzZXQgLXgNCmVjaG8gInBvc3QtaW5zdGFsbGF0aW9uIHN0YXJ0ZWQuLi4iDQphcHQtZ2V0IHVwZGF0ZQ0KYXB0LWdldCBpbnN0YWxsIGRvY2tlci5pbyAteSAtZg0KdXNlcm1vZCAtYUcgZG9ja2VyIHVidW50dQ0KZWNobyAnRE9DS0VSX09QVFM9Ii1IIHRjcDovLzAuMC4wLjA6MjM3NSAtSCB1bml4Oi8vL3Zhci9ydW4vZG9ja2VyLnNvY2siJyA+PiAvZXRjL2RlZmF1bHQvZG9ja2VyDQpvcGVuc3NsIHNfY2xpZW50IC1zaG93Y2VydHMgLWNvbm5lY3QgZG9ja2VyLmVyZXNlYXJjaC51bmltZWxiLmVkdS5hdTo0NDMgPCAvZGV2L251bGwgMj4gL2Rldi9udWxsIHwgb3BlbnNzbCB4NTA5IC1vdXRmb3JtIFBFTSA+IGVyZXNlYXJjaC5jcnQNCnN1ZG8gY3AgZXJlc2VhcmNoLmNydCAvdXNyL2xvY2FsL3NoYXJlL2NhLWNlcnRpZmljYXRlcw0Kc3VkbyB1cGRhdGUtY2EtY2VydGlmaWNhdGVzDQpzdWRvIHNlcnZpY2UgZG9ja2VyIHN0b3ANCnN1ZG8gc2VydmljZSBkb2NrZXIgc3RhcnQNCmVjaG8gInBvc3QtaW5zdGFsbGF0aW9uIGRvbmUi",
    "client" : {
      "authUrl" : "https://keystone.rc.nectar.org.au:5000",
      "region" : "Melbourne",
      "sshusername" : "ubuntu",
      "username" : "<usually you email address>",
      "password" : "<you know...>",
      "provider" : "openstack",
      "tenantName" : "OpenAPI"
    }
  },
  "docker" : {
    "master" : {
      "protocol" : "http",
      "host" : "localhost",
      "port" : 2375
    },
    "client" : {
      "protocol" : "http",
      "port" : 2375
    },
    "registry" : {
      "serveraddress" : "cuttlefish.eresearch.unimelb.edu.au",
      "auth" : {
        "email" : "a",
        "username" : "b",
        "password" : "c"
      }
    }
  }
}
