{
  "pkgcloud" : {
    "availability_zone" : "melbourne-np",
    "key_name" : "<SSH key on NeCTAR>",
    "user_data" : "IyEvYmluL3NoDQpzZXQgLXgNCmVjaG8gInBvc3QtaW5zdGFsbGF0aW9uIHN0YXJ0ZWQuLi4iDQpzdWRvIHJtIC1mIC92YXIvbGliL2Rwa2cvbG9jaw0Kc3VkbyBhcHQtZ2V0IHVwZGF0ZQ0Kc3VkbyBhcHQtZ2V0IGluc3RhbGwgZG9ja2VyLmlvIC15IC1mDQpzdWRvIHVzZXJtb2QgLWFHIGRvY2tlciB1YnVudHUNCnN1ZG8gZWNobyAnRE9DS0VSX09QVFM9Ii1IIHRjcDovLzAuMC4wLjA6MjM3NSAtSCB1bml4Oi8vL3Zhci9ydW4vZG9ja2VyLnNvY2siJyA+PiAvZXRjL2RlZmF1bHQvZG9ja2VyDQpzdWRvIG9wZW5zc2wgc19jbGllbnQgLXNob3djZXJ0cyAtY29ubmVjdCBkb2NrZXIuZXJlc2VhcmNoLnVuaW1lbGIuZWR1LmF1OjQ0MyA8IC9kZXYvbnVsbCAyPiAvZGV2L251bGwgfCBvcGVuc3NsIHg1MDkgLW91dGZvcm0gUEVNID4gZXJlc2VhcmNoLmNydA0Kc3VkbyBjcCBlcmVzZWFyY2guY3J0IC91c3IvbG9jYWwvc2hhcmUvY2EtY2VydGlmaWNhdGVzDQpzdWRvIHVwZGF0ZS1jYS1jZXJ0aWZpY2F0ZXMNCnN1ZG8gc2VydmljZSBkb2NrZXIgc3RvcA0Kc3VkbyBzZXJ2aWNlIGRvY2tlciBzdGFydA0Kc3VkbyBzZWQgLWkgJ3MvLioxMjcuMC4xLjEvIyYvJyAvZXRjL2hvc3RzDQplY2hvICJwb3N0LWluc3RhbGxhdGlvbiBkb25lIg==",
    "client" : {
      "authUrl" : "https://keystone.rc.nectar.org.au:5000",
      "region" : "Melbourne",
      "sshusername" : "ubuntu",
      "username" : "<usually you email address>",
      "password" : "<you know...>",
      "provider" : "openstack",
      "tenantName" : "OpenAPI"
    }
  },
  "docker" : {
    "master" : {
      "protocol" : "http",
      "host" : "localhost",
      "port" : 2375
    },
    "client" : {
      "protocol" : "http",
      "port" : 2375
    },
    "registry" : {
      "serveraddress" : "cuttlefish.eresearch.unimelb.edu.au",
      "auth" : {
        "email" : "a",
        "username" : "b",
        "password" : "c"
      }
    }
  },
  "test" : {
    "auth" : {
      "username" : "testuser",
      "password" : "testpasswd"
    }
  }
}
